@tailwind base;
@tailwind components;
@tailwind utilities;

/* Стили для 3D переворота */
.perspective {
  perspective: 1500px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

/* Для мобильных устройств */
@media (max-width: 768px) {
  .perspective {
    perspective: 1000px;
  }
}